@import 'ant-time-picker';
@import 'ant-message';
@import 'ant-table';
@import 'ant-menu';
@import 'ant-card';
.anticon svg {
  display: inline-block;
  vertical-align: unset;
}
.device-card {
  .ant-card-meta-detail {
    width: 100%;
  }
  .ant-popover-title {
    min-width: 90px;
    text-align: center;
    min-height: 25px;
    padding: 4px;
    font-size: 0.9em;
  }
  .ant-popover-inner-content {
    text-align: center;
    padding: 5px;
  }
  .ant-rate-star {
    &:not(:last-child) {
      margin-right: 2px;
    }
    .anticon {
      font-size: 0.6em;
    }
  }
}
.ant-popover-content {
  .ant-popover-inner-content {
    padding: .3rem;
  }
}
.ant-form-inline {
 .ant-form-item {
  display: flex;
  width: 100%;
  > .ant-form-item-label {
    flex-grow: 0;
    min-width: 105px;
  }
  > .ant-form-item-control-wrapper {
    flex-grow: 1;
  }
 }
}
.ant-modal-wrap {
  z-index: 99998;
}
.ant-calendar-picker-container, .ant-select-dropdown {
  z-index: 99999;
}